/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 abr. 2021, 21:29:03
    Author     : gerva
*/
body {
    background-image: url(../images/logo.jpg );
    background-size: 100% 100%;
}

div { 
    width:600px;height:300px;
	border-radius:8px;box-shadow:0 0 40px -10px #000;
	margin:calc(50vh - 220px) auto;padding:20px 30px;max-width:calc(100vw - 40px);
	box-sizing:border-box;font-family:'Montserrat',sans-serif;position:relative
}

h1 {
    font-size: 45px;
    font-family: Roboto;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #4416c4;
    text-align:center;
}

p {
    font-size: 50px;
    font-weight: bold;
    font-variant: small-caps;
    font-family: monospace;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #b80935;
    text-align: center    
}